@import url('https://fonts.googleapis.com');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{font-family: "Poppins", sans-serif;
  background-color: linear-gradient(to botom right,#e2e2e2,#f8f8f8);
  transition: background-color 0.5s,color 0.5s ;
  color: rgb(35,35,85);




}